
{% extends "finacentric/views/templates/base.html" %}



{% block content %}
<div class="alert alert-info">
<h4>Hello</h4>
Is it me you're looking for?
 
</div>

<a href="simple-invoice-form">Nowa faktura</a>

<table class="table table-striped">
  <colgroup>
    <col span="1" style="width: 10px;">
    <col span="1" style="width: 10%;">
    <col span="1" >
    <col span="1" style="width: 10%;">      
    <col span="1" style="width: 10%;">      
    <col span="1" style="width: 10%;">
    <col span="1" style="width: 10%;">      
    <col span="1" style="width: 10%;"> 
  </colgroup>
  <thead>
    <tr>
      <th><input type="checkbox" name="selected-all"/></th>
      <th>Numer</th>
      <th>Opis</th>
      <th>Data wystawienia</th>
      <th>Termin płatności</th>
      <th>Netto</th>
      <th>Brutto</th>
      <th>Stan</th> 
    </tr>
  </thead>
<tbody>
{% for i in invoices %}
    <tr>
      <td><input type="checkbox" name="selected[{{i.id}}]"/></td>
      <td>{{i.number}}</td>
      <td>{{i.description}}</td>
      <td>{{i.issue_date}}</td>
      <td>{{i.payment_date}}</td>
      <td>{{i.net_total}}</td>
      <td>{{i.gross_total}}</td>
      <td>
        
        {% if i.corrected %} 
        Korekta
        {% else %}
        {% if i.discount_accepted %} 
        Dyskont!
        {% else %}
        {% if i.accepted %} 
        Zaakceptowana
        {% else %}
        Czeka
        {% endif %}
        {% endif %}
        {% endif %}
        
      </td>
    </tr>
{% endfor %}
    
</table>


{% endblock %}
