{% extends "_layout.html" %}

{% block internal-content %}

<table class="table table-striped">
  <tbody><tr class="first-row">
      <th><div class="arrows"><a href="#" class="arrow-up"></a><a href="#" class="arrow-down"></a></div>Firma</th>
      <th>Akcje</th>
    </tr>
    {% for s in suppliers %}
    <tr>
      <td><a class="link" href="{{links.buyer.suppliers.details(s.id)}}">{{s.name}}</a></td>
      <td><button type="button" class="btn btn-success">Discount</button></td>
    </tr>
    {% empty %}
    <tr>
      <td colspan='2'>Brak odbiorców</td>
    </tr>
    {% endfor suppliers %}
  </tbody>
</table>

{% endblock %}

