<div class="tab-pane" id="overview">
  <section class="wide-wrapper">
    <header class="narrow-wrapper title">
      <h1 class="col-lg-6"><button type="button" class="btn btn-default btn-standard">&lsaquo; Powrót</button> <span>Bieżące faktury</span></h1>
      <section class="buttons col-lg-6">
        <button type="button" class="btn btn-warning">Dodaj fakturę</button>
        <button type="button" class="btn btn-default btn-general">Eksportuj</button>
      </section>
    </header>
  </section>
  <section class="narrow-wrapper component">Zasadnicza treść strony :)</section>
</div>

<div class="tab-pane" id="profile">
  <section class="wide-wrapper">
    <header class="narrow-wrapper title">
      <h1 class="col-lg-6"><button type="button" class="btn btn-default btn-standard">&lsaquo; Powrót</button> <span>Profil</span></h1>
      <section class="buttons col-lg-6">
        <button type="button" class="btn btn-warning">Dodaj fakturę</button>
        <button type="button" class="btn btn-default btn-general">Eksportuj</button>
      </section>
    </header>
  </section>
  <section class="narrow-wrapper component">Jakaś inna treść :)</section>
</div>

<div class="tab-pane" id="messages">
  <section class="wide-wrapper">
    <header class="narrow-wrapper title">
      <h1 class="col-lg-6"><button type="button" class="btn btn-default btn-standard">&lsaquo; Powrót</button> <span>Wiadomości</span></h1>
      <section class="buttons col-lg-6">
        <button type="button" class="btn btn-warning">Dodaj fakturę</button>
        <button type="button" class="btn btn-default btn-general">Eksportuj</button>
      </section>
    </header>
  </section>
  <section class="narrow-wrapper component">Kolejna treść ...</section>
</div>

<div class="tab-pane" id="settings">
  <section class="wide-wrapper">
    <header class="narrow-wrapper title">
      <h1 class="col-lg-6"><button type="button" class="btn btn-default btn-standard">&lsaquo; Powrót</button> <span>Ustawienia</span></h1>
      <section class="buttons col-lg-6">
        <button type="button" class="btn btn-warning">Dodaj fakturę</button>
        <button type="button" class="btn btn-default btn-general">Eksportuj</button>
      </section>
    </header>
  </section>
  <section class="narrow-wrapper component">Inna treść podstrony</section>
</div>         
                