<!DOCTYPE HTML>
<html>
  <head>
    <title>Finacentric</title>
    <link href="{{context}}/assets/css/fcentric.css" rel="stylesheet" type="text/css"></link>
  </head>
  <body>
    <div id="wrap">

      {% block navbar %}

      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="/company/hello">Finacentric</a>
            <ul class="nav">
              <li {% if context.hello %}class="active"{% endif %}>
                <a href="/company/hello">Home</a>
              </li>
              <li {% if context.invoices %}class="active"{% endif %}>
                <a href="/company/invoices">Invoices</a>
              </li>
              <li {% if context.corrections %}class="active"{% endif %}>
                <a href="/company/corrections">Corrections</a>
              </li>
              <li {% if context.accepted %}class="active"{% endif %}>
                <a href="/company/accepted">Accepted</a>
              </li>
            </ul>
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>

            <form class="post-btn-form" action="/logout" method="post">
              <button class="btn pull-right">Sign off</button>
            </form>

            <span class="pull-right">&nbsp</span>

            <a class="btn pull-right" href="/supplier/help">Help</a>

            <span class="pull-right">&nbsp</span>

            <div class="btn-group pull-right">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                John Doe
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/supplier/profile">Profile</a></li>
              </ul>
            </div>

            <div class="nav-collapse"></div> <!--/.nav-collapse -->
          </div>
        </div>
      </div>

      {% endblock %}


      <div class="container">

        {% block content %}
        {{content}}

        {% endblock %}

      </div>
      <div id="push"></div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="muted footer-text">Footer content.</p>
      </div>
    </div>

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/base.js"></script>
  </body>
</html>
