
{% extends "finacentric/views/templates/app/co_base.html" %}



{% block content %}
<div class="alert alert-info">
<h4>Hello</h4>
Is it me you're looking for?
 
</div>

<table class="table table-striped">
  <colgroup>
    <col span="1" style="width: 10px;">
    <col span="1" >
    <col span="1" style="width: 10%;">
    <col span="1" >
    <col span="1" style="width: 10%;">      
    <col span="1" style="width: 10%;">      
    <col span="1" style="width: 10%;">
    <col span="1" style="width: 10%;">      
    <col span="1" style="width: 10%;"> 
    <col span="1" style="width: 10%;">      
    <col span="1" style="width: 10%;">      
    <col span="1" style="width: 10%;">
    <col span="1" style="width: 10%;">   
  </colgroup>
  <thead>
    <tr>
      <th><input type="checkbox" name="selected-all"/></th>
      <th class="sorting {% ifequal s.col "companies.name" %}{{s.dir}}{% endifequal %}" 
          data-sorting="name">Kontrahent</th>
      <th class="sorting {% ifequal s.col "number" %}{{s.dir}}{% endifequal %}" 
          data-sorting="number">Numer</th>
      <th>Opis</th>
      <th class="sorting {% ifequal s.col "issue_date" %}{{s.dir}}{% endifequal %}" 
          data-sorting="issue_date">Data wystawienia</th>
      <th class="sorting {% ifequal s.col "payment_date" %}{{s.dir}}{% endifequal %}" 
          data-sorting="payment_date">Termin płatności</th>
      <th>Netto</th>
      <th>Brutto</th>
      <th>Roczny dyskont</th>
      <th>Netto</th>
      <th>Brutto</th>
      <th>Dyskont</th>
      <th>Stan</th> 
      <th>Akcje</th> 
    </tr>
  </thead>
<tbody>
{% for i in invoices %}
    <tr>
      <td><input type="checkbox" name="selected[{{i.id}}]"/></td>
      <td><a href="invoice/{{i.id}}">{{i.name}}</a></td>
      <td><a href="invoice/{{i.id}}">{{i.number}}</a></td>
      <td>{{i.description}}</td>
      <td>{{i.issue_date}}</td>
      <td>{{i.payment_date}}</td>
      <td>{{i.net_total}}</td>
      <td>{{i.gross_total}}</td>

      <td>{{i.annual_discount_rate}}</td>
      <td>{{i.discounted_net_total}}</td>
      <td>{{i.discounted_gross_total}}</td>
      <td>{{i.discount_rate}}</td>
      <td>{{i.state}}</td>

      <td>
        {% switch i.state %}
        ???
        {% case :input %}
        <a href="#" class="ajaxify" data-url="invoice/{{i.id}}/accept">
          Zaakceptuj
        </a>
        <a href="#" class="ajaxify" data-url="invoice/{{i.id}}/reject">
          Odrzuć
        </a>
        {% case :accepted %}
        Zaakceptowane!
        <a href="#" class="ajaxify" data-url="invoice/{{i.id}}/accept-cancel">
          Anuluj
        </a>
        <a href="invoice/{{i.id}}/offer-discount">
          Zaproponuj dyskont
        </a>
        {% case :rejected %}
        Odrzucone!
        <a href="#" class="ajaxify" data-url="invoice/{{i.id}}/reject-cancel">
          Anuluj
        </a>
        {% case :discount_offered %}
        <a href="invoice/{{i.id}}/offer-discount">
          Zmień dyskont
        </a>
        {% case :discount_accepted %}
        {% case :discount_confirmed %}
        {% case :correction_done %}
        {% case :correction_received %}
        {% endswitch %}
      </td>
    </tr>
{% endfor %}
    
</table>


{% endblock %}
