
{% extends "finacentric/views/templates/app/sup_base.html" %}



{% block content %}
<div class="alert alert-info">
<h4>Hello</h4>
Is it me you're looking for?
 
</div>

<a href="simple-invoice-form">Nowa faktura</a>

<table class="table table-striped">
  <!-- <colgroup> -->
  <!--   <col span="1" style="width: 10px;"> -->
  <!--   <col span="1" style="width: 10%;"> -->
  <!--   <col span="1" > -->
  <!--   <col span="1" style="width: 10%;">       -->
  <!--   <col span="1" style="width: 10%;">       -->
  <!--   <col span="1" style="width: 10%;"> -->
  <!--   <col span="1" style="width: 10%;">       -->
  <!--   <col span="1" style="width: 10%;">  -->
 
  <!--   <col span="1" style="width: 10%;">       -->
  <!--   <col span="1" style="width: 10%;"> -->
  <!--   <col span="1" style="width: 10%;"> -->
  <!--   <col span="1" style="width: 10%;">        -->
  <!--   <col span="1" style="width: 10%;">  -->
  <!-- </colgroup> -->
  <thead>
    <tr>
      <th><input type="checkbox" name="selected-all"/></th>
      <th>Numer</th>
      <th>Opis</th>
      <th>Data wystawienia</th>
      <th>Termin płatności</th>
      <th>Netto</th>
      <th>Brutto</th>
      <th>Roczny dyskont</th>
      <th>Netto</th>
      <th>Brutto</th>
      <th>Dyskont</th>
      <th>Stan</th> 
      <th>Akcje</th> 
    </tr>
  </thead>
<tbody>
{% for i in invoices %}
    <tr>
      <td><input type="checkbox" name="selected[{{i.id}}]"/></td>
      <td><a href="invoice/{{i.id}}">{{i.number}}</a></td>

      <td>{{i.description}}</td>
      <td>{{i.issue_date}}</td>
      <td>{{i.payment_date}}</td>
      <td>{{i.net_total}}</td>
      <td>{{i.gross_total}}</td>


      <td>{{i.annual_discount_rate}}</td>
      <td>{{i.discounted_net_total}}</td>
      <td>{{i.discounted_gross_total}}</td>
      <td>{{i.discount_rate}}</td>
      <td>{{i.state}}</td>
      <td>
         {% switch i.state %}
        ???
        {% case :input %}
        Czeka na weryfikację
         <a href="invoice/{{i.id}}/edit">
          Edytuj (TODO)
        </a>
        {% case :accepted %}
        Faktura została zweryfikowana poprawnie.
        {% case :rejected %}
        Faktura odrzucona przez kontrahenta.
         <a href="invoice/{{i.id}}/edit">
          Popraw (TODO)
         </a>

        {% case :discount_offered %}
        <a href="invoice/{{i.id}}/discount-accept">
          Zgódź się na dyskont
        </a>
        {% case :discount_accepted %}
        Przyspieszona data płatności: {{i.discounted_payment_date}}
        <a href="invoice/{{i.id}}/discount-accept">
          Zmień ją
        </a>
        {% case :discount_confirmed %}
        {% case :correction_done %}
        {% case :correction_received %}
        {% endswitch %}
      </td>
    </tr>
{% endfor %}
    
</table>


{% endblock %}
