
{% extends "finacentric/views/templates/admin/base.html" %}



{% block content %}

<table class="table">
  <caption>Firmy</caption>
  <thead>
    <tr>
      <th>#</th>
      <th>Nazwa</th>
      <th>Domena</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
{% for c in companies %}
    <tr>
      <td>{{c.id}}</td>
      <td>{{c.name}}</td>
      <td>{{c.domain}}</td>
      <td><a href="?id={{c.id}}">edycja</a> <a class="ajaxify" href='#' data-modal-header="Jesteś pewny?" data-modal-body="Czy na pewno chcesz usunąć element?" data-modal-confirm="Tak" data-modal-cancel="Nie" data-url="companies/delete?id={{c.id}}">usuwanie</a></td>
    </tr>
{% endfor %}
  </tbody>
</table>


<form method="post">
  <fieldset>
    <legend>{% if values.id %} Edycja domeny {% else %}Dodawanie domeny {% endif %}</legend>
    {% if values.id %}<input type="hidden" value="{{values.id}}" name="id">{% endif %}
    <label>Nazwa</label>
    <input type="text" placeholder="Type something…" name="name" value="{{v.name}}">    
    {% if e.name %}

    <div class="error">{{e.name}}</div>

    {% endif %}

    <label>Domena</label>
    <input type="text" placeholder="Type something…" name="domain" value="{{v.domain}}">
    {% if e.domain %}

    <div class="error">{{e.domain}}</div>

    {% endif %}
    
  </fieldset>
  <button type="submit" class="btn">Submit</button>
</form>


{% endblock %}
