{# używane przez login/login.html #}
<div class="login-box">
  <div class="left col-lg-4">
    <header><img src="../img/logo.png" /></header>
    <section>
      <a href="{{links.register}}" class="wide-button">REJESTRACJA</a>
      <a href="{{links.register}}" class="text-link strong">Nie masz jeszcze konta?</a>
      <a href="{{links.reset-password}}" class="text-link">Przypominanie hasła</a>
      <!-- <a href="{{links.register}}" class="text-link">Need an account?</a> -->
    </section>
  </div>
  <div class="right col-lg-8">
    <header><h1>Logowanie</h1></header>
    <section>
      {% if error %}<div class="absolute alert alert-danger">Nieprawidłowe dane.</div>{% endif %}
      <form method="post"{% if target %} action="{{target}}"{% endif %}>
        <fieldset>
          <div class="form-group">
            <label for="contactInputEmail">Adres email:</label>
            <input type="text" class="form-control" id="contactInputEmail" placeholder="Enter email" name="login" value="{{form.login}}">
          </div>
          <div class="form-group">
            <label for="contactInputPassword">Hasło:</label>
            <input type="password" class="form-control" id="contactInputPassword" placeholder="Password" name="password">
          </div>
          <div class="form-inline">
            <div class="checkbox">
              <button type="submit" class="btn btn-success">ZALOGUJ</button>
              <!-- <label><input type="checkbox"> Keep me signed in </label>-->
            </div>
          </div>
        </fieldset>
      </form>
    </section>
  </div>
  {% block login-box-footer %}
  <footer class="col-lg-12"><a href="{{links.landing-page}}">Wróć do strony głównej</a></footer>
  {% endblock login-box-footer %}
</div>

