{% extends "layouts/logged_buyer.html" %}

{% block content %}
<ul class="nav nav-tabs">
  <li {%if path == links.buyer.suppliers.list %}class="active"{%endif%}>
    <a href="{{ links.buyer.suppliers.list }}">Dostawcy</a>
  <li {%if path == links.buyer.suppliers.invites %}class="active"{%endif%}>
    <a href="{{ links.buyer.suppliers.invites }}">Zaproszenia</a></li>
</ul>
{% block subcontent %}

{% comment %}To nie jest w sumie widok {% endcomment %}

{% endblock subcontent %}
{% endblock content %}


