{%comment%}
Używane przez widoki:
login/register-buyer.html
login/register-supplier.html
{%endcomment%}

{% extends "_wrapper.html" %}

  {% block userbar %}
  <div class="dropdown"> 
    <div id="ProductList" class="dropdown-toggle btn btn-primary" data-toggle="dropdown" onclick="$('.dropdown-toggle').dropdown()"><div href="#" class="arrow-down white"></div> {{user.name}} </div> 
    <ul class="dropdown-menu">
        <li> <a href="#">Zmień hasło</a> </li>
        <li> <a href="#">Uzupełnij profil</a> </li>
        
    </ul>
  </div>
  <a href="#" class="btn btn-primary">Pomoc</a>
  <form style="display:inline-block" action="{{links.logout}}" method="post"><input class="btn btn-primary" type="Submit" value="Wyloguj"/></form>
  {% endblock userbar %}
        
  {% block navigation %}
  {% endblock navigation %}

  {% block tabs %}
  <div class="tab-pane active" >
  	{% block title-section %}
  	<section class="wide-wrapper">
  		<header class="narrow-wrapper title">
  			<h1 class="col-lg-6">
  				{%if return-to%}
  				<a href="{{return-to}}" class="btn btn-default btn-standard">‹ Powrót</a>
  				{%endif%}
  					 <span>{% callblock section-title %}</span></h1>
  			<section class="buttons col-lg-6">
  				{%block section-actions%}
  				{%endblock %}
    
  			</section>
  		</header>
  	</section>
  	{% endblock %}
    	{% callblock content-section%}
	
  </div>

    {% endblock tabs %}
