{% extends "layouts/_wrapper.html" %}

{% block _userbar %}
  <!-- <div class="dropdown"> 
    <div id="ProductList" class="dropdown-toggle btn btn-primary" data-toggle="dropdown" onclick="$('.dropdown-toggle').dropdown()"><div href="#" class="arrow-down white"></div> {{user.name}} </div> 
    <ul class="dropdown-menu">
        <li> <a href="#">Zmień hasło</a> </li>
        <li> <a href="#">Uzupełnij profil</a> </li>
    </ul>
  </div>
  <a href="#" class="btn btn-primary">Pomoc</a>
  <form style="display:inline-block" action="{{links.logout}}" method="post"><input class="btn btn-primary" type="Submit" value="Wyloguj"/></form> -->
{% endblock _userbar %}

{% block _navigation %}
  <!-- <ul class="nav nav-tabs" id="mainMenuTabs">
    <li class="active"><a href="#overview"  data-toggle="tab">Strona główna</a></li>
    <li><a href="#profile" data-toggle="tab">Lista faktur</a></li>
    <li><a href="#messages" data-toggle="tab">Korekty</a></li>
    <li><a href="#settings" data-toggle="tab">Zaakceptowane</a></li>
  </ul> -->
{% endblock _navigation %}
        
{% block _tabs %}

{% endblock _tabs %}
