{% extends "layouts/_wrapper.html" %}

  {% block userbar %}
  <div class="dropdown"> 
    <div id="ProductList" class="dropdown-toggle btn btn-primary" data-toggle="dropdown" onclick="$('.dropdown-toggle').dropdown()"><div href="#" class="arrow-down white"></div> Jan Kowalski </div> 
    <ul class="dropdown-menu">
        <li> <a href="#">Zmień hasło</a> </li>
        <li> <a href="#">Uzupełnij profil</a> </li>
        
    </ul>
  </div>
  <a href="#" class="btn btn-primary">Pomoc</a>
  <form style="display:inline-block" action="{{links.logout}}" method="post"><input class="btn btn-primary" type="Submit" value="Wyloguj"/></form>
  {% endblock userbar %}
        
  {% block navigation %}
  {% endblock navigation %}

	{% block content %}
	<section class="main-content">

	</section>
  {% endblock content %}
